<a href="https://colab.research.google.com/github/karmveershubham/Python-Codes/blob/main/Python%20NITKKR/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10;
b=11.5;
c=2.05j;
print("a is Type of",type(a));
print("b is Type of",type(b));
print("c is Type of",type(c));

a is Type of <class 'int'>
b is Type of <class 'float'>
c is Type of <class 'complex'>

In [2]:
a=int(input("Enter a value : "));
b=int(input("Enter b value : "));
print("Addition of a and b : ",a+b);
print("Subtraction of a and b : ",a-b);
print("Multiplication of a and b : ",a*b);
print("Division of a and b : ",a/b);
print("Remainder of a and b : ",a%b);
print("Exponent of a and b : ",a**b);
print("Floar division of a and b : ",a//b);

Enter a value : 12
Enter b value : 13
Addition of a and b :  25
Subtraction of a and b :  -1
Multiplication of a and b :  156
Division of a and b :  0.9230769230769231
Remainder of a and b :  12
Exponent of a and b :  106993205379072
Floar division of a and b :  0

In [3]:
s1=input("Enter first String : ");
s2=input("Enter second String : ");
print("First string is : ",s1);
print("Second string is : ",s2);
print("concatenations of two strings : ",s1+s2);
print("Substring of given string : ",s1[1:4]);

Enter first String : Shubham Karmveer
Enter second String : Shubham
First string is :  Shubham Karmveer
Second string is :  Shubham
concatenations of two strings :  Shubham KarmveerShubham
Substring of given string :  hub

In [4]:
pets = ['cat', 'dog', 'rat', 'pig', 'tiger']
snakes=['python','anaconda','fish','cobra','mamba']
print("Pets are :",pets)
print("Snakes are :",snakes)
animals=pets+snakes
print("Animals are :",animals)
snakes.remove("fish")
print("updated Snakes are :",snakes)

Pets are : ['cat', 'dog', 'rat', 'pig', 'tiger']
Snakes are : ['python', 'anaconda', 'fish', 'cobra', 'mamba']
Animals are : ['cat', 'dog', 'rat', 'pig', 'tiger', 'python', 'anaconda', 'fish', 'cobra', 'mamba']
updated Snakes are : ['python', 'anaconda', 'cobra', 'mamba']

In [6]:

T = ("apple", "banana", "cherry","mango","grape","orange")
print("Created tuple is : ",T)
print("\nSecond fruit is : ",T[1])
print("\nFrom 3-6 fruits are : ",T[3:6])
print("\nList of all items in Tuple : ")
for x in T:
  print(x)
if "apple" in T:
  print("\nYes, 'apple' is in the fruits tuple")
print("\nLength of Tuple is : ",len(T))

Created tuple is :  ('apple', 'banana', 'cherry', 'mango', 'grape', 'orange')

Second fruit is :  banana

From 3-6 fruits are :  ('mango', 'grape', 'orange')

List of all items in Tuple :
apple
banana
cherry
mango
grape
orange

Yes, 'apple' is in the fruits tuple

Length of Tuple is :  6

In [7]:
dict1 = {'StdNo':'010','StuName': 'DEV', 'StuAge': 22, 'StuCity': 'Delhi'}
print("\nDictionary is :",dict1)
print("\nStudent Name is :",dict1['StuName'])
print("\nStudent City is :",dict1['StuCity'])
print("\nAll Keys in Dictionary ")
for x in dict1:
  print(x)
print("\nAll Values in Dictionary ")
for x in dict1:
  print(dict1[x])
dict1["Phno"]=6857957856
print("\nUpdated Dictionary is :",dict1)
dict1["StuName"]="Shubham"
print("\nUpdated Dictionary is :",dict1)
dict1.pop("StuAge")
print("\nUpdated Dictionary is :",dict1)
print("Length of Dictionary is :",len(dict1))
dict2=dict1.copy()
print("\nNew Dictionary is :",dict2)
dict1.clear()
print("\nUpdated Dictionary is :",dict1)

Dictionary is : {'StdNo': '010', 'StuName': 'DEV', 'StuAge': 22, 'StuCity': 'Delhi'}

Student Name is : DEV

Student City is : Delhi

All Keys in Dictionary
StdNo
StuName
StuAge
StuCity

All Values in Dictionary
010
DEV
22
Delhi

Updated Dictionary is : {'StdNo': '010', 'StuName': 'DEV', 'StuAge': 22, 'StuCity': 'Delhi', 'Phno': 6857957856}

Updated Dictionary is : {'StdNo': '010', 'StuName': 'Shubham', 'StuAge': 22, 'StuCity': 'Delhi', 'Phno': 6857957856}

Updated Dictionary is : {'StdNo': '010', 'StuName': 'Shubham', 'StuCity': 'Delhi', 'Phno': 6857957856}
Length of Dictionary is : 4

New Dictionary is : {'StdNo': '010', 'StuName': 'Shubham', 'StuCity': 'Delhi', 'Phno': 6857957856}

Updated Dictionary is : {}

In [8]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
if (num1 > num2) and (num1 > num3):
  largest = num1
elif (num2 > num1) and (num2 > num3):
  largest = num2
else:
  largest = num3
print("The largest number is",largest)

Enter first number: 23
Enter second number: 12
Enter third number: 56
The largest number is 56

In [10]:
n=5
for i in range(n):
  for j in range(i):
    print ('* ', end="")
  print('')
for i in range(n,0,-1):
  for j in range(i):
    print('* ', end="")
  print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [11]:
print("Prime numbers between 1 and 20 are:")
lmt=20;
for num in range(lmt):

   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 20 are:
2
3
5
7
11
13
17
19

In [12]:
def recur_fact(n):
   if n == 1:
       return n
   else:
       return n*recur_fact(n-1)
num = int(input("Enter a number: "))
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of",num,"is",recur_fact(num))

Enter a number: 7
The factorial of 7 is 5040

def fib(n):    
    a, b = 0, 1
    print(0, end =" ")
    while b <= n:
        print(b, end =" ")
        a, b = b, a+b

##save above file as fibonacci then use it another file to print fibonacci

import fibonacci  
num=int(input("Enter any number to print Fibonacci series : "))
fibonacci.fib(num)

In [14]:
def bubble_sort(list1):
    for i in range(0,len(list1)-1):
        for j in range(len(list1)-1):
            if(list1[j]>list1[j+1]):
                temp = list1[j]
                list1[j] = list1[j+1]
                list1[j+1] = temp
    return list1

list1 = [5, 3, 8, 6, 7, 2]
print("The unsorted list is: ", list1)
print("The sorted list is: ", bubble_sort(list1))

The unsorted list is:  [5, 3, 8, 6, 7, 2]
The sorted list is:  [2, 3, 5, 6, 7, 8]

In [17]:
def recur_fibo(n):
  if n<=1:
    return n
  else:
    return(recur_fibo(n-1) + recur_fibo(n-2))
nterms = int(input("How many terms : "))
if nterms <= 0:
  print("Plese enter a positive integer")
else:
  print("Fibonacci sequence:")
for i in range(nterms):
  print(recur_fibo(i))

How many terms : 5
Fibonacci sequence:
0
1
1
2
3

In [18]:
import random
print("Random integers between 0 and 9: ")
sum = 0
for i in range(4, 15):
  y = random.randrange(9)
  sum = sum + y
  print(y)
print("Sum =",sum)

Random integers between 0 and 9:
2
5
3
5
4
6
5
5
0
8
6
Sum = 49

In [22]:
def recur_sum(n):
  if n <= 1:
    return n
  else:
    return n + recur_sum(n-1)
num = int(input("Enter a Number: "))
if num < 0:
  print("Enter a positive number")
else:
  print("The sum is",recur_sum(num))

Enter a Number: 5
The sum is 15